{{define "parts/product_layout.html"}}
<!DOCTYPE html>
<html lang="en">
{{template "parts/head.html" .}}
<body class="bg-gray-100">
    {{template "parts/header.html" .}}
    <main class="container mx-auto py-6 overflow-hidden" style="padding-top: 0px;">
        {{if .Products}}
            {{range .Products}}
                {{template "parts/product_content.html" (dict "Product" . "MediaUrl" $.MediaUrl)}}
            {{end}}
        {{else}}
            {{block "parts/product_content.html" .}}{{end}}
        {{end}}
    </main>
    {{template "parts/footer.html" .}}
</body>
</html>
{{end}} 